:root {
  --main-font: "Roboto", "sans-serif";
  /* кольор*/
  --main-light: #fff;
  --main-dark: #000;
  --main-color-font: #757575;
  --secondary-color: #212121;
  --backg-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* хедер */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-header {
  width: 1200px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.items .list-item:not(:last-child) {
  margin-right: 50px;
}

.main-nav {
  margin-right: auto;
}

.items-section {
  list-style-type: none;
  font-style: normal;
  display: flex;
  gap: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.items {
  list-style-type: none;
  font-style: normal;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}
.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  display: flex;
  margin-right: 93px;
  color: var(--main-dark);
}

.Web {
  color: #2196f3;
}

.link-studio {
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;

  position: relative;

  transition-property: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-studio::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: #2196f3;
  position: absolute;
}

.link-studio:hover,
.link-studio:focus {
  color: #2196f3;
}

.link-portfolio {
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;

  position: relative;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: #2196f3;
  position: absolute;
}

.link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color);

  transition-property: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.link-nav {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color-font);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover {
  color: #2196f3;
}

.link-nav:active {
  color: var(--secondary-color);
}

.link-nav-header:hover,
.link-nav-header:focus {
  color: #2196f3;
}

/*  перша секція */

.main-section {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgr.png);
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
}

.section-text {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hidden {
  color: #2f303a;
}

.main-title {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light);
}

.btn {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196f3;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--main-light);
}

.btn:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  height: 581px;
  background-color: var(--main-light);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14),
    3px 0px 1px rgba(0, 0, 0, 0.12);
}

.modal-btn {
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.close-modal {
  background-color: var(--main-light);
}

/* друга секція */

.main-subject {
  color: var(--backg-color);
}

.list-sub {
  width: 270px;
}

.subject {
  margin-bottom: 10px;
  gap: 30px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.text {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color-font);
}
.title-img {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* третя секція*/

.items-sub {
  list-style-type: none;
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.section-img {
  padding-bottom: 94px;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.items-name {
  list-style-type: none;
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.div-img {
  outline: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  offset: 0px, 1px;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.desc {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--main-color-font);
}

.img-name {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-light);
}
.section-group {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.overlay-img {
  position: relative;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding-bottom: 27px;
  padding-top: 27px;

  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-text-img {
  line-height: 1.1;

  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

.img {
  display: block;
}

/* футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--main-light);
}

.link-nav-adress {
  display: block;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-light);
}

.link-nav {
  display: block;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.link-nav:hover,
.link-nav:focus {
  color: #2196f3;
}

.link-nav-tel:hover,
.link-nav-tel:focus {
  color: #2196f3;
}

.link-nav-tel {
  display: block;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav-header {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-color-font);
  text-decoration: none;
  display: flex;
  align-items: center;

  transition-property: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav-header:hover {
  color: #2196f3;
}

.list-item-adress {
  margin-top: 9px;
}

.items-footer {
  list-style-type: none;
  font-style: normal;
  display: block;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* портфоліо */

.list-btn {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hidden-title {
  color: var(--backg-color);
}

.button-items {
  justify-content: center;
  list-style-type: none;
  font-style: normal;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  color: var(--secondary-color);
  
  transition-property:  background-color #2196f3,
  color var(--main-light)
  box-shadow 2px 0px 2px rgba(0, 0, 0, 0.12), 2px 0px 1px rgba(0, 0, 0, 0.08),
  1px 0px 3px rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #2196f3;
  color: var(--main-light);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.12), 2px 0px 1px rgba(0, 0, 0, 0.08),
  1px 0px 3px rgba(0, 0, 0, 0.1);
}

.button:focus {
  background-color: #2196f3;
  color: var(--main-light);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.12), 2px 0px 1px rgba(0, 0, 0, 0.08),
    1px 0px 3px rgba(0, 0, 0, 0.1);
}
.img-portfolio {
  width: 370px;
}

.text-portfolio {
  border: 1px solid var(--main-light);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 30px;
  border-bottom: 30px;
  border-left: 30px;
}

.img-portfolio:nth-child(n + 7) {
  margin-bottom: 94px;
}

.headline {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.items-portfolio {
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.desc-img {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-color-font);
}

.overlay-desc {
  font-size: 18px;
  line-height: 1.5;
  color: var(--main-light);
}

.team-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
   
   transition-property:   box-shadow 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-portfolio:hover .overlay {
  transform: translateY(0);
}

/* svg*/

.icon-envelope {
  fill: currentColor;
  margin-right: 10px;
}

.icon-envelope:hover,
.icon-envelope:focus {
  fill: #2196f3;
}

.svg {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  border-radius: 4px;
}

.icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style-type: none;
}

.social-list-list {
  width: 44px;
  height: 44px;
  background-color: var(--main-light);
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #afb1b8;

  transition-property: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-list:hover,
.social-list-list:focus {
  background-color: #2196f3;
  color: var(--main-light);
}

.team-social-item {
  display: list-item;
}
.team-social-list {
  fill: currentColor;
}
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;

  transition-property: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-brand {
  fill: #afb1b8;
}

.clients-link {
  display: flex;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
 
  transition-property:#2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-brand {
  transition-property:#2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.heading-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--secondary-color);
}

.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients-link:hover .icon-brand {
  fill: #2196f3;
}

.clients-link:hover {
  border: 1px solid #2196f3;
}

.clients-link:focus .icon-brand {
  fill: #2196f3;
}

.clients-link:focus {
  border: 1px solid #2196f3;
}

.team-social-icon {
  fill: var(--main-light);
}

.social-list-icon {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition-property: var(--backg-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon:hover,
.social-list-icon:focus {
  background-color: #2196f3;
}
.subject-icon {
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-footer {
  display: flex;
  align-items: baseline;
  gap: 70px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.gallery-link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
  1px 4px 6px rgb(0 0 0 / 16%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
