// utils.styles
@import "./utils/vars";
@import "./utils/visually-hidden";
@import "./utils/placeholder";
// base.styles
@import "./base/reset";
@import "./base/base";
@import "./base/container";
// layouts.styles
@import "./layouts/header";
@import "./layouts/navigation";
@import "./layouts/hero";
@import "./layouts/modal";
@import "./layouts/modal-form";
@import "./layouts/preview";
@import "./layouts/carousel";
@import "./layouts/our-team";
@import "./layouts/clients";
@import "./layouts/footer";
@import "./layouts/logo-footer";
@import "./layouts/nav-footer";
@import "./layouts/social-icons-footer";
@import "./layouts/form-footer";
@import "./layouts/portfolio-header";
@import "./layouts/button-portfiolio";
@import "./layouts/overlay-portfolio";
// component.styles 
@import "./components/btn";
@import "./components/logo";
@import "./components/team-social-icons";