.btn {
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #2196f3;
    font-family: inherit;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--main-light);

    &:active {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background: #2196f3;
      }
  }

  

