.logo {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    display: flex;
    margin-right: 93px;
    color: var(--main-dark);
  }
  
  .Web {
    color: #2196f3;
  }