.logo {
  @media screen and (max-width:767px) {
    font-size: 24px;
    line-height: 0.9;
    padding-bottom: 16px;
    padding-top: 16px;
  }

  @media screen and (min-width: 768px){
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 0.9;
    letter-spacing: 0.03em;
     display: flex;
     margin-right: 88px;
    color: var(--main-dark);
  }

  @media screen and (min-width:1200px) {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    display: flex;
    margin-right: 93px;
    color: var(--main-dark);
  }
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    // display: flex;
    // margin-right: 93px;
    color: var(--main-dark);
  }
  
  .Web {
    color: #2196f3;
  }

