.menu-button {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;

    @media screen and (min-width: 768px) {
       display: none; 
    }
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 15px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    position: relative;
    position:fixed ;
    top: 0%;
    left: 0;
  z-index: 1000;
    width: 100%;
    height: 100%;
    background-color:#FFF;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;

    transform: translateX(200%);
    transition:transform 400ms ;

    &.is-open {
        transform: translateX(0);  
    }

    @media screen and (max-width:480px) {
        width: 100%;
        height: 100%;
    }
}

.mobile-menu {
    


    margin-bottom: auto;
    text-decoration: none;
    list-style-type: none; 
}

.list-menu {
    margin-bottom: 32px;

    &:first-child {
        margin-bottom: 35px;
    }
}

.link-menu-studio {
    font-weight: 500;
    line-height: 1;
    font-size: 40px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196f3;

    @media screen and (max-width:479px) {
        font-size: 20px;
    }
}

.link-menu {
    @media screen and (max-width:479px) {
        font-size: 20px;
    }
    
    font-weight: 500;
    line-height: 1;
    font-size: 40px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
  
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #2196f3;
   }   
}
.social-menu {
    display: flex ;
    gap: 10px;
    list-style-type: none;
}
 
.link-social {
    font-weight: 500;
    font-size: 18px;
    line-height: 0.9;
    color: rgba(33, 150, 243, 1);
    text-decoration: none;

    @media screen and (max-width:479px) {
        font-size: 12px;
    }
}

.items-menu {
   margin-bottom: 64px;
    list-style-type: none;
}

.link-menu-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 0.9;
    color: rgba(33, 150, 243, 1);
    text-decoration: none;

    @media screen and (max-width:479px) {
        font-size: 20px;
    }
}

.list-menu-tel {
    margin-bottom: 32px;
}

.link-menu-mail {
font-size: 24px;
line-height: 0.9;
color: #757575;
text-decoration: none;

@media screen and (max-width:479px) {
    font-size: 20px;
}
}

.mobile-menu .list-menu:last-child {
    margin-bottom: 0;
}

   .social-menu .list-social-menu:not(:last-child) {
    
    &::after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 22px;
        background-color: rgba(33, 33, 33, 0.2);
    }
    }

    .list-social-menu {
        gap: 10px;
        display:flex ;
    }
