// BREAKPOINTS  
// mobile-480px
// tablet-768px
// desctop-1200px


// desktop
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  // mobile
  @media screen and (min-width:480px) {
    width: 480px;
    outline: 1px solid red;
  }

  // tablet
  @media screen and (min-width:768px) {
    width: 768px;
    outline: 1px solid red;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    outline: 1px solid red;
  }
}

