// * BLOCK 1 *

:root {
    --main-font: "Roboto", "sans-serif";
    /* кольор*/
    --main-light: #fff;
    --main-dark: #000;
    --main-color-font: #757575;
    --secondary-color: #212121;
    --backg-color: #f5f5f5;
  }