.clients {
   @extend %section;
  }
  
  .heading-clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--secondary-color);
  }
  
  .clients-meta {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
  
    transition-property: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .clients-meta__clients-aside{
    display: flex;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
  
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .clients-meta__clients-aside:hover .clients-meta__icon-brand {
    fill: #2196f3;
  }
  
  .clients-meta__clients-aside:hover {
    border: 1px solid #2196f3;
  }
  
  .clients-meta__clients-aside:focus .clients-meta__icon-brand {
    fill: #2196f3;
  }
  
  .clients-meta__clients-aside:focus {
    border: 1px solid #2196f3;
  }
  
  .clients-meta__icon-brand {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }