 .footer {
   padding-top: 60px;
   padding-bottom: 60px;
  
     background-color: #2f303a;

     @media screen and (max-width:479px) {
      margin: 0;
     }
   }
  
    .container-footer {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      
      @media screen and (min-width:480px) {
        width: 480px;
        
      }

      @media screen and  (min-width:768px) {
        width: 768px;
      
      }
    
        @media screen and (min-width: 1200px) {
          width: 1200px;
          background-color: #2f303a;
         display: flex;
        align-items: baseline;
        padding-left: 15px;
        padding-right: 15px;
       }
       @media screen and (max-width:479px) {
        padding-bottom: 20px;
      } 

    }
  
   .div-footer {
    @media screen and (min-width:480px) {
     padding-bottom: 60px;
    }

    @media screen and (min-width:768px) {
      padding: 0;
    }

    @media screen and (min-width:1200px){
    margin-right: 70px;
    }
     
   }

   .div-nav-social {
    @media screen and (min-width:768px) and (max-width:1199px) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-items: flex-start;
     padding-bottom: 60px;
    }

    @media screen and (min-width:1200px){
      margin-right: auto;
      display: flex;
      margin: 0;
    }

    @media screen and (max-width:479px) {
      padding-top: 20px;
    } 
   }
  
  