 .footer {
  margin-top: 60px;
     background-color: #2f303a;

     @media screen and (max-width:480px) {
      margin: 0;
     }
   }
  
    .container-footer {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      // mobile
      @media screen and (min-width:480px) {
        width: 480px;
        height:603px;
        outline: 1px solid red;
      }

      @media screen and  (min-width:768px) {
        width: 768px;
        height: 463px;
        outline: 1px solid red;
       
      }
    
        @media screen and (min-width: 1200px) {
          width: 1200px;
          height: 252px;
          background-color: #2f303a;
         display: flex;
        align-items: baseline;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        outline: 1px solid red;
       }
       @media screen and (max-width:480px) {
        padding-bottom: 20px;
      } 

    }
  
   .div-footer {
    @media screen and (min-width:480px) {
     padding-bottom: 60px;
    }

    @media screen and (min-width:768px) {
      padding: 0;
    }

    @media screen and (min-width:1200px){
    margin-right: 70px;
    }
     
   }

   .div-nav-social {
    @media screen and (min-width:480px) {
     padding-top: 60px;
     padding-bottom: 60px; 
    }



    @media screen and (min-width:768px) {
      display: flex;
      align-items: center;
      padding-top: 60px;
      padding-bottom: 60px;
      margin-left: 76px;
      margin-right: 89px;
      align-items: flex-start;
    }

    @media screen and (min-width:1200px){
      // padding-left: 215px;
      padding-right: 93px;
      padding-top: 72px;
      padding-bottom: 60px;

      margin: 0;
    }

    @media screen and (max-width:480px) {
      padding-top: 20px;
    } 
   }
  
  