 .breadcrumbs {
     display: flex;
   }

   .footer-form {
    @media screen and (min-width:1200px) {
     padding-top: 72px;
     padding-bottom: 94px;


    }
   }
  
   .register-form-span {
    @media screen and (min-width:480px) {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
     @media screen and (min-width:1200px) {
      display: flex;
      justify-content: flex-start;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--main-light);
    }
     font-size: 14px;
     font-weight: 700;
     line-height: 1.1;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--main-light);
   }
  
  .wrapper {
    @media screen and (min-width:480px) {
      display: block;
    }
    @media screen and (min-width:1200px) {
      margin-top: 20px;
     display: flex;
     gap: 12px;
    }
     margin-top: 20px;
     display: flex;
     gap: 12px;
  }
  
   .footer-input {
    @media screen and (min-width:480px) {
      width: 450px;
      height: 50px;
      margin-bottom: 20px;
    }

    @media screen and (min-width:768px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width:1200px) {
      margin: 0;
    }
     width: 358px;
     height: 50px;
     border: 1px solid rgba(255, 255, 255, 0.3);
     border-radius: 4px;
     box-shadow: 0px 4px rgba(0, 0, 0, 0.15),
     0px 4px rgba(0, 0, 0, 0.15);
     background-color: #2F303A;
     display: flex;
     padding-left: 15px;
     font-size: 16px;
  }

   .footer-input::placeholder {
     color: rgba(255, 255, 255, 0.6);
  }
  
  
  
   .footer-btn {
    @media screen and (min-width:480px) {
      display: block;
      margin-right: auto;
      margin-left: auto;
   
    }

    @media screen and (min-width:1200px) {
      margin-top: 0px;
      display: flex;
      border-radius: 4px;
      box-shadow: 0px 4px rgba(0, 0, 0, 0.15),
      0px 4px rgba(0, 0, 0, 0.15),
      0px 4px rgba(0, 0, 0, 0.15);
      padding-top: 10px;
      padding-right: 32px;
      padding-bottom: 10px;
      padding-left: 32px;
      width: 200px;
      height: 50px;
      background-color: #2196f3;
      font-family: inherit;
      border: none;
      cursor: pointer;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.8;
      letter-spacing: 0.06em;
      color: var(--main-light); 
    }
     margin-top: 0px;
     display: flex;
     border-radius: 4px;
     box-shadow: 0px 4px rgba(0, 0, 0, 0.15),
     0px 4px rgba(0, 0, 0, 0.15),
     0px 4px rgba(0, 0, 0, 0.15);
     padding-top: 10px;
     padding-right: 32px;
     padding-bottom: 10px;
     padding-left: 32px;
     background-color: #2196f3;
     font-family: inherit;
     border: none;
     cursor: pointer;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.8;
     letter-spacing: 0.06em;
     color: var(--main-light); 
  }
  
   .svg-btn {
     margin-left: 10px;
     }