.logo-footer {

  @media screen and (min-width:1200px) {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--main-light); 
  }
     display: block;
     margin-bottom: 20px;
     text-decoration: none;
     font-family: "Raleway";
     font-weight: 700;
     font-size: 26px;
     line-height: 1.1;
     letter-spacing: 0.03em;
     color: var(--main-light); 

    @media screen and (min-width:480px) {
      font-size: 24px;
      line-height: 0.9;
      display: flex;
      justify-content: center;
    }
    @media screen and (max-width:480px) {
      display: flex;
      justify-content: center;
    }

   }
