.register-form-title {
    font-size: 20px;
    line-height: 0.9;
    color: var(--secondary-color);
    display: block;text-align: center;
    margin-bottom: 12px;
  }
  
  .register-form-group {
    margin-bottom: 28px;
  }
  
  .register-form-field {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px; 
  }
  
  .register-form-label {
    display: block;
    font-size: 12px;
    color: var(--main-color-font);
  }
  
  .svg-input-form {
    position: relative;
  }
  
  .register-form-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
   
    width: 100%;
    height: 40px;
    padding-left: 42px;
   outline: transparent ;
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:focus,
   &:hover{
    border-color:  #2196F3;
  }
  }
   
  .register-form-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .register-form-input:hover + .register-form-icon {
    fill: #2196f3;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .register-form-input:focus + .register-form-icon {
    fill: #2196f3;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .register-form-message {
    display: block;
    font-size: 12px;
    line-height: 0.9;
    resize: none;
    padding-left: 16px;
    padding-top: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    width: 448px;
    height: 120px;
    margin-top: 4px;
    margin-bottom: 20px;

    &:focus,
    &:hover{
      border-color: #2196f3;
    }
  }
  
  .register-form-agreement {
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .register-form-checkbox {
    cursor: pointer;
  }
  
  .register-form-checkbox:checked + .register-form-icons .icon-checked {
    opacity: 1;
  }
  
  .register-form-checkbox:checked + .register-form-icons .icon-unchecked {
    opacity: 0;
  } 

  .icon-unchecked{ 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icon-checked {
    opacity: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .register-form-link {
    display: inline-block;
    color: rgba(117, 117, 117, 1);
    user-select: none;
  }
  
  .register-form-btn {
  
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    margin-top: 40px;
    display: block;
    background-color: #2196f3;
    font-family: inherit;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--main-light);
  }
  
  .register-form-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
  }
  
  .link-form {
    color: rgba(33, 150, 243, 1);
  }