 .items-footer {
     list-style-type: none;
     font-style: normal;
     display: block;
     align-items: center;
     margin-top: 0px;
     margin-bottom: 0px;

   
  }
  
   .link-nav-adress {
    @media screen and (min-width:480px) {
      margin-bottom: 8px;
     text-align: center;
    }
   @media screen and (min-width:1200px) {
    display: block;
     line-height: 1.7;
     letter-spacing: 0.03em;
     text-decoration: none;
     color: var(--main-light);
   }
   @media screen and (min-width:1200px) {
    display: block;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-light);
    margin-bottom: 9px;
    text-align: left;
   }
      display: block;
      line-height: 1.7;
      letter-spacing: 0.03em;
      text-decoration: none;
     color: var(--main-light);
  }

  
   .link-nav {
    @media screen and (min-width:480px) {
      margin-bottom: 8px;
      text-align: center;
     }

     @media screen and (min-width:480px) {
      display: block;
     line-height: 1.7;
     letter-spacing: 0.03em;
     text-decoration: none;
     color: rgba(255, 255, 255, 0.6);
     
     }

     @media screen and (min-width:1200px) {
      text-align: left;
     }
     display: block;
      line-height: 1.7;
      letter-spacing: 0.03em;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6);
      margin-bottom: 9px;

     &:hover,
     &:focus {
       color: #2196f3;
     }
   }
  
   .link-nav-tel {
    @media screen and (min-width:480px) {
      text-align: center;
    }
    @media screen and (min-width:1200px) {
      text-align: left;
     }

     display: block;
     line-height: 1.7;
     letter-spacing: 0.03em;
     text-decoration: none;
     color: rgba(255, 255, 255, 0.6);
  
     transition-property: color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
      color: #2196f3;
     }
   }



  
