.main-nav {
    margin-right: auto;
  }

  .items {
  @media screen and (max-width:767px) {
    display: none;
  }
    @media screen and (min-width: 768px) {
      list-style-type: none;
    font-style: normal;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    }
   @media screen and (min-width:1200px) {
    list-style-type: none;
    font-style: normal;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
   }
    
    list-style-type: none;
    font-style: normal;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .items .list-item:not(:last-child) {
    margin-right: 50px;
  }

  .items-nav {
    @media screen and (max-width:767px) {
      display: none;
    }
      @media screen and (min-width: 768px) {
        list-style-type: none;
      font-style: normal;
      display: flex;
      flex-wrap: wrap;
      // padding-top: 21px;
      // padding-bottom: 11px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 96px;
    }

    @media screen and (min-width:1200px) {
      gap: 30px;
    }
    
  }
  
  .link-studio {

    @media screen and (min-width:768px) {
      padding-bottom: 32px;
      font-weight: 500;
      line-height: 0.9;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: #2196f3;
    }
  
    @media screen and (min-width:1200px){
      padding-bottom: 32px;
      font-weight: 500;
      line-height: 1.1;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: #2196f3;
    
    }
      padding-bottom: 32px;
      font-weight: 500;
      line-height: 1.1;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: #2196f3;
    
      position: relative;
    
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
        color: #2196f3;
      }
  
      &::after {
  
        @media screen and (max-width:767px) {
          display: none;
        }
  
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          bottom: 0;
          background-color: #2196f3;
          position: absolute;
        }
    }
  
  .link {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-color);
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: #2196f3;
  }
  }

  /*контакты*/

.link-nav-header {

  

@media screen and (min-width:768px) {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-color-font);
  text-decoration: none;
  display: flex;
  align-items: center;
   
}

@media screen and (min-width: 1200px) {
  font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--main-color-font);
    text-decoration: none;
    display: flex;
    align-items: center;
    
}


    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--main-color-font);
    text-decoration: none;
    display: flex;
    align-items: center;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #2196f3;
    }
  }
  
  .icon-envelope {
    fill: currentColor;
    margin-right: 10px;

    &:hover,
    &:focus {
    fill: #2196f3;
  }
  }
 
  .items-nav .list-item:not(:last-child) {
    @media screen and (min-width:768px) {
      margin-bottom: 10px;
    }
  }
