.pagination {
  padding-top: 94px;
  padding-bottom: 94px;
    background-color: #f5f4fa;

    @media screen and (max-width:1119px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .carousel__caption--team {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--secondary-color);

    @media screen and (max-width:1119px) {
     font-size: 28px;
     line-height: 1.2;
     margin-bottom: 30px;
    }
  }
  
  .items-name {
    list-style-type: none;
    font-style: normal;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;

    @media screen and (max-width:1119px) {
      display: block;
    }

    @media screen and (max-width:767px) {
      &:last-child {
        margin-bottom: 0px;
      }
    }
    @media screen and (min-width:768px) and (max-width:1119px) {
      margin: -15px;
      display: flex;
      flex-wrap: wrap;
     
      
    }
  }
  
  .div-img {
    outline: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    offset: 0px, 1px;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width:1119px) {
      margin-left: auto;
      margin-right: auto;
      width: 450px;
    }

    @media screen and (max-width:767px)  {
     margin-bottom: 30px;
    }

    @media screen and (min-width:768px) {
      margin: 15px;
      width: calc( (100% - 2 * 30px) / 2);
    }
  }
  
  .img-name {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--main-light);

    @media screen and (max-width:767px){
      padding-top: 30px;
      padding-bottom: 24px;
    }
  }
  
  .title-img {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
  
  .desc {
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--main-color-font);
  }

  .social-list-list {
    width: 44px;
    height: 44px;
    background-color: var(--main-light);
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
  
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
     background-color: #2196f3;
     color: var(--main-light);
   }
  }
  
  .team-social-list {
    fill: currentColor;
  }