

.slogan {
  // mobile
  @media screen and (min-width:480px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  // tablet
  @media screen and (min-width:768px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  // desktop
  @media screen and (min-width: 1200px) {
    margin-top: 94px;
    margin-bottom: 94px;
  }

  @media screen and (max-width:479px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  }
  
  .hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden; 
  }
  
  .preview {
    @media screen and (min-width:480px) {
      list-style-type: none;
      font-style: normal;
      margin-top: 60px;
      margin-bottom: 60px;
      padding-left: 0px;
      padding-right: 0px;
    }

    @media screen and (min-width:768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none;
      font-style: normal;
       margin-top: 0px;
       margin-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      margin: -15px;
    }
  
    @media screen and (min-width: 1200px) {
     list-style-type: none;
     font-style: normal;
     display: flex;
     margin-top: 0px;
     margin-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     margin: -15px;
  } 

  @media screen and (max-width:480px) {
    list-style-type: none;
}
}
  
  .preview__features {

    @media screen and (min-width:768px) {
      margin: 15px;
      width: calc( (100% - 2 * 30px) / 2);
    }

    @media screen and (max-width:1119px) {
      &:first-child {
        margin-top: 0;
        margin-left: 0;
      }
      
      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }

      &:nth-child(2) {
       margin-top: 0;
       margin-right: 0;
      }

      &:nth-child(3) {
        margin-left: 0;
        margin-bottom: 0;
      }
    }
   
      @media screen and (min-width: 1200px) {
       margin: 15px;
       flex-basis: calc( (100% - 8 * 120px) / 4);
       margin-bottom: 0;
       margin-top: 0;
    }

    @media screen and (max-width:767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  
    
  
  .preview__svg {
    @media screen and (min-width:480px) {
      background-color: #f5f4fa;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
     justify-content: center;
     min-height: 120px;
     border-radius: 4px;
    }

    @media screen and (min-width:768px) {
       background-color: #f5f4fa;
       margin-bottom: 30px;
       display: flex;
       align-items: center;
       justify-content: center;
       min-height: 120px;
       border-radius: 4px;
       
    }


    @media screen and (min-width: 1200px) { 
       background-color: #f5f4fa;
       margin-bottom: 30px;
       display: flex;
       align-items: center;
       justify-content: center;
       height: 120px;
       width: 270px;
       border-radius: 4px;
    }

    @media screen and (max-width:479px) {
      display: flex;
      justify-content: center;
      background-color: #f5f4fa;
    }

  }
  
  .preview__subject {
     margin-bottom: 10px;
     gap: 30px;
     font-weight: 700;
     line-height: 1.1;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--secondary-color);

     @media screen and (min-width:480px) {
      text-align: center;
     }

     @media screen and (min-width:768px) {
      text-align: left;
     }

     @media screen and (max-width:479px) {
      text-align: center;
      margin-top: 20px;
     }
  }
  
  .preview__text {
     line-height: 1.7;
    letter-spacing: 0.03em;
     color:rgba(117, 117, 117, 1);

     @media screen and (max-width:479px) {
      text-align: center;
     }
  }
  