.group {
  @media screen and (min-width: 480px) {
    
  }

  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }

  @media screen and (min-width:768px) {
    margin: 0;
    margin-left: auto;
  }

  @media screen and (max-width:479px) {
    margin-top: 20px;
  } 
}

.subject-icon {
  @media screen and (min-width: 480px) {
    text-align: center;
  }
  
  @media screen and (max-width:479px) {
    text-align: center;
    margin-bottom: 15px;
  } 

  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light);
}
